@import "types";
.pokemon-page {
  padding: 0 40px 0;
  flex: 1;
  display: flex;

  .pokemon-page__container {
    flex: 1;
    padding: 140px 40px 40px;
    background: white;
    min-height: 100%;
    max-width: 1420px;
    margin: 0 auto;
    position: relative;

    display: grid;
    grid-template-columns: minmax(350px, 475px) minmax(500px,1fr);
    grid-template-rows: auto 1fr;
    grid-gap: 40px;

    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: white;
      z-index: 10;
      opacity: 1;
    }

    &.loaded{
      &:after{
        opacity: 0;
        content: none;
      }
    }

    .pokemon-page__photo {
      grid-row: 1/3;
      background: #F2F2F2;
      border-radius: 20px;
      width: 100%;
      height: auto;
    }

    .pokemon-page__title {
      margin-bottom: 30px;
      font-size: 50px;
      font-weight: 600;
      .pokemon-page__name {
        color: black;
        margin-right: 30px;
      }

      .pokemon-page__order {
        color: #616161;
      }
    }

    .pokemon-page__types {
      margin-bottom: 30px;
      grid-column: 2;

      .pokemon-page__types-title {
        display: inline-block;
        text-transform: uppercase;
        font-size: 30px;
        margin-bottom: 20px;
      }

      .pokemon-page__types-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

        .types__item {
          width: 150px;
          height: 40px;
          padding: 10px 0;
          font-size: 20px;
          color: white;
          text-align: center;
          border-radius: 5px;
          margin-right: 5px;
          margin-bottom: 5px;

          &:first-letter {
            text-transform: uppercase;
          }
        }
      }
    }

    .pokemon-page__stats {
      grid-column: 1;
      grid-row: 3;
      margin-bottom: 30px;
      background: #51c4e7;
      padding: 20px;
      border-radius: 15px;
      height: fit-content;
      color: white;

      .pokemon-page__stats-title {
        display: inline-block;
        text-transform: uppercase;
        font-size: 30px;
        margin-bottom: 20px;
        letter-spacing: 2px;
        font-weight: 700;
      }

      .pokemon-page__stats-list {
        display: flex;
        flex-direction: column;
        padding: 0 30px 0;

        .stats__item {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 23px;
          margin-bottom: 15px;
          border-bottom: 1px solid #383838;
          padding: 0 10px 5px 0 ;
          font-weight: 700;

          .item__name {
            color: #383838;
            display: block;
            &::first-letter {
              text-transform: uppercase;
            }
          }

          .item__base-stat {
          }
        }
      }
    }

    .pokemon-page__moves {
      grid-column: 2;
      grid-row: 3;
      height: fit-content;
      margin-bottom: 30px;
      background: #858585;
      padding: 20px;
      border-radius: 15px;

      .pokemon-page__moves-title {
        display: inline-block;
        text-transform: uppercase;
        font-size: 30px;
        margin-bottom: 20px;
        color: white;
        letter-spacing: 2px;
        font-weight: 700;
      }

      .pokemon-page__moves-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 30px 0;

        .moves__item {
          font-size: 18px;
          margin-bottom: 10px;
          margin-right: 10px;
          font-weight: 700;
          border-radius: 10px;
          color: black;
          padding: 5px 10px;
          background: white;
          .item__name {
            color: black;
            display: block;
            &::first-letter {
              text-transform: uppercase;
            }
          }
        }
      }
    }

  }
}

@media screen and (max-width: 1200px) {
  .pokemon-page {
    .pokemon-page__container {
      grid-template-columns: minmax(350px, 475px) minmax(400px,1fr);
      .pokemon-page__moves {
        grid-column: 1/3;
        grid-row: 4;
      }
    }
  }
}

@media screen and (max-width: 1023.98px) {
  .pokemon-page {
    .pokemon-page__container {
      grid-template-columns: 1fr;
      .pokemon-page__photo{
        grid-row: 1;
      }
      .pokemon-page__title{
        grid-column: 1;
        grid-row: 2;
      }
      .pokemon-page__types{
        grid-column: 1;
        grid-row: 3;
      }
      .pokemon-page__stats{
        grid-row: 4;
      }
      .pokemon-page__moves {
        grid-column: 1;
        grid-row: 5;
      }
    }
  }
}

@media screen and (max-width: 768.98px) {
  .pokemon-page {
    padding: 0 20px 0;
    .pokemon-page__container {
      padding: 140px 10px 40px;
      .pokemon-page__title{
        margin-left: 10px;
      }
      .pokemon-page__types{
        margin-left: 10px;
      }
    }
  }
}

@media screen and (max-width: 499.98px) {
  .pokemon-page {
    padding: 0 ;
    .pokemon-page__container {
      padding: 140px 10px 40px;
      .pokemon-page__title{
        font-size: 30px;
        font-weight: 600;
        margin-left: 10px;
      }
      .pokemon-page__types{
        margin-left: 10px;
      }
      .pokemon-page__stats {
        .pokemon-page__stats-list{
          padding: 0;
          .stats__item{
            font-size: 18px;
          }
        }
      }
      .pokemon-page__moves {
        .pokemon-page__moves-list{
          padding: 0;
          .moves__item{
            margin-right: 5px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

