.bug {
  background: #729f3f;
}

.dragon {
  background: #f16e57;
}

.fairy {
  background: #fdb9e9;
}

.fire {
  background: #fd7d24;
}

.ghost {
  background: #7b62a3;
}

.ground {
  color: black !important;
  background: #f7de3f;
}

.normal {
  color: black !important;
  background: #a4acaf;
}

.psychic {
  background: #f366b9;
}

.steel {
  color: black !important;
  background: #9eb7b8;
}

.dark {
  background: #707070;
}

.electric {
  color: black !important;
  background: #eed535;
}

.fighting {
  background: #d56723;
}

.flying {
  color: black !important;
  background: #3dc7ef;
}

.grass {
  color: black !important;
  background: #9bcc50;
}

.ice {
  color: black !important;
  background: #51c4e7;
}

.poison {
  background: #b97fc9;
}

.rock {
  background: #a38c21;
}

.water {
  background: #4592c4;
}

.pokemon-page {
  font-size: 20px;
  line-height: 1.3;
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  padding: 140px 0 0;
  background: white;
  width: 100%;
}
.pokemon-page:after {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 1;
  background: white;
}
.pokemon-page.loaded:after {
  content: none;
  opacity: 0;
}
.pokemon-page .pokemon-page__picture {
  position: relative;
  z-index: 10;
  width: 100%;
  text-align: center;
}
.pokemon-page .pokemon-page__picture:after {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 50%;
  display: block;
  width: 500px;
  height: 500px;
  content: "";
  animation: 15s spin linear infinite;
  opacity: 0.1;
  background: url("../../images/pokeball.png") center no-repeat;
  background-size: contain;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pokemon-page .pokemon-page__picture:before {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 125px;
  content: "";
  border-radius: 40px 40px 0 0;
  background: white;
}
.pokemon-page .pokemon-page__picture .pokemon-page__photo {
  width: 500px;
  height: auto;
  border-radius: 20px;
}
.pokemon-page .pokemon-page__title {
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
  padding: 0 40px 0;
  color: white;
}
.pokemon-page .pokemon-page__title .pokemon-page__name {
  font-size: 60px;
  font-weight: 700;
  margin: 0 40px 0 0;
  letter-spacing: 1.2px;
}
.pokemon-page .pokemon-page__title .pokemon-page__name:first-letter {
  text-transform: uppercase !important;
}
.pokemon-page .pokemon-page__title .pokemon-page__types-list {
  display: flex;
  align-items: center;
  flex: 1 1 100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0 0 0;
}
.pokemon-page .pokemon-page__title .pokemon-page__types-list .types__item {
  font-size: 20px;
  width: 150px;
  margin-right: 10px;
  padding: 5px 0;
  text-align: center;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}
.pokemon-page .pokemon-page__title .pokemon-page__types-list .types__item:first-letter {
  text-transform: uppercase !important;
}
.pokemon-page .pokemon-page__title .pokemon-page__order {
  font-size: 30px;
  flex: 1 1 100%;
  opacity: 0.7;
}
.pokemon-page .pokemon-page__information {
  z-index: 10;
  flex: 1 1 auto;
  width: 100%;
  padding: 0 40px 40px;
  background: white;
}
.pokemon-page .pokemon-page__information .information__switcher {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(187, 187, 187, 0.3);
}
.pokemon-page .pokemon-page__information .information__switcher button {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  flex: 1 1 auto;
  padding: 20px 0;
  text-align: center;
  background: none;
}
.pokemon-page .pokemon-page__information .information__switcher button .underline {
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  height: 2px;
  background: #ea2eea;
}
.pokemon-page .pokemon-page__information .information__content {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.pokemon-page .pokemon-page__information .information__content .information__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
  letter-spacing: 0.5px;
  border-radius: 20px;
  box-shadow: 0 0 15px 0 rgb(221, 221, 221);
}
.pokemon-page .pokemon-page__information .information__content .information__item:last-child {
  margin-bottom: 0px;
}
.pokemon-page .pokemon-page__information .information__content .information__about:before {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;
  content: "About:";
  text-decoration: underline;
}
.pokemon-page .pokemon-page__information .information__content .information__basic:before {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;
  content: "Info:";
  text-decoration: underline;
}
.pokemon-page .pokemon-page__information .information__content .information__basic .basic-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.pokemon-page .pokemon-page__information .information__content .information__basic .basic-item .item__name {
  flex: 1 1 200px;
  color: #616161;
}
.pokemon-page .pokemon-page__information .information__content .information__basic .basic-item .item__value {
  flex: 1 1 100%;
}
.pokemon-page .pokemon-page__information .information__content .information__stats:before {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;
  content: "Stats:";
  text-decoration: underline;
}
.pokemon-page .pokemon-page__information .information__content .information__stats .stats-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}
.pokemon-page .pokemon-page__information .information__content .information__stats .stats-item .item__name {
  overflow: hidden;
  flex: 1;
  max-width: 200px;
  margin-right: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pokemon-page .pokemon-page__information .information__content .information__stats .stats-item .item__value {
  margin-right: 20px;
}
.pokemon-page .pokemon-page__information .information__content .information__stats .stats-item .item__bar {
  display: block;
  flex: 1;
  height: 4px;
  border-radius: 5px;
  background: rgba(124, 124, 124, 0.4);
}
.pokemon-page .pokemon-page__information .information__content .information__stats .stats-item .item__bar span {
  display: block;
  height: 100%;
  border-radius: 5px;
  background: #d95ed9;
}
.pokemon-page .pokemon-page__information .information__content .information__moves {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 10px;
}
.pokemon-page .pokemon-page__information .information__content .information__moves:before {
  font-size: 27px;
  font-weight: 600;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  content: "Moves:";
  text-decoration: underline;
}
.pokemon-page .pokemon-page__information .information__content .information__moves .moves__item {
  padding: 5px 10px;
  border-radius: 15px;
  background: rgba(183, 183, 183, 0.1);
}
.pokemon-page .pokemon-page__information .information__content .information__evolution {
  padding: 20px;
}
.pokemon-page .pokemon-page__information .information__content .information__evolution .evolution__card {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 0 40px 0;
}
.pokemon-page .pokemon-page__information .information__content .information__evolution .evolution__card:last-child {
  margin: 0;
}
.pokemon-page .pokemon-page__information .information__content .information__evolution .evolution__card .card__arrow {
  font-size: 70px;
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: column;
  margin: 0 20px;
  color: rgba(97, 97, 97, 0.5);
}
.pokemon-page .pokemon-page__information .information__content .information__evolution .evolution__card .card__arrow .arrow__info {
  font-size: 20px;
  color: black;
}
.pokemon-page .pokemon-page__information .information__content .information__evolution .evolution__card .card__pokemon {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  color: black;
}
.pokemon-page .pokemon-page__information .information__content .information__evolution .evolution__card .card__pokemon .pokemon__image-container {
  flex: 1;
  width: 300px;
  min-width: 300px;
  height: 300px;
  min-height: 300px;
  padding: 10px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 10px #b0b0b0;
}
@media screen and (max-width: 1023.98px) {
  .pokemon-page .pokemon-page__information .information__content .information__evolution .evolution__card .card__pokemon .pokemon__image-container {
    width: 250px;
    min-width: 250px;
    height: 250px;
    min-height: 250px;
  }
}
@media screen and (max-width: 767.98px) {
  .pokemon-page .pokemon-page__information .information__content .information__evolution .evolution__card .card__pokemon .pokemon__image-container {
    width: 150px;
    min-width: 150px;
    height: 150px;
    min-height: 150px;
    padding: 0px;
    box-shadow: inset 0 0 0 5px #b0b0b0;
  }
}
@media screen and (max-width: 499.98px) {
  .pokemon-page .pokemon-page__information .information__content .information__evolution .evolution__card .card__pokemon .pokemon__image-container {
    width: 100px;
    min-width: 100px;
    height: 100px;
    min-height: 50px;
  }
}
.pokemon-page .pokemon-page__information .information__content .information__evolution .evolution__card .card__pokemon .pokemon__image-container .pokemon__image {
  width: 100%;
  height: 100%;
}
.pokemon-page .pokemon-page__information .information__content .information__evolution .evolution__card .card__pokemon .pokemon__name {
  font-size: 30px;
  height: 40px;
}
.pokemon-page .pokemon-page__information .information__content .information__evolution .evolution__card .card__pokemon .pokemon__name:first-letter {
  text-transform: uppercase !important;
}
@media screen and (max-width: 767.98px) {
  .pokemon-page .pokemon-page__information .information__content .information__evolution .evolution__card .card__pokemon .pokemon__name {
    font-size: 18px;
  }
}

@media screen and (max-width: 767.98px) {
  .pokemon-page .pokemon-page__picture:before {
    height: 75px;
  }
  .pokemon-page .pokemon-page__picture .pokemon-page__photo {
    width: 320px;
  }
  .pokemon-page .pokemon-page__title {
    padding: 0 20px 0;
  }
  .pokemon-page .pokemon-page__title .pokemon-page__name {
    font-size: 50px;
  }
  .pokemon-page .pokemon-page__information {
    padding: 0 10px 10px;
  }
  .pokemon-page .pokemon-page__information .information__switcher button {
    font-size: 18px;
  }
  .pokemon-page .pokemon-page__information .information__content {
    font-size: 18px;
  }
  .pokemon-page .pokemon-page__information .information__content .information__item:before {
    font-size: 20px;
  }
}
@media screen and (max-width: 499.98px) {
  .pokemon-page .pokemon-page__title {
    margin-bottom: 0;
    padding: 0 10px 0;
  }
  .pokemon-page .pokemon-page__title .pokemon-page__name {
    font-size: 40px;
  }
  .pokemon-page .pokemon-page__information .information__content .information__evolution {
    padding: 20px 0 20px;
  }
  .pokemon-page .pokemon-page__information .information__content .information__evolution .evolution__card .card__arrow {
    font-size: 30px;
    margin: 0 10px;
  }
  .pokemon-page .pokemon-page__information .information__content .information__evolution .evolution__card .card__arrow .arrow__info {
    font-size: 14px;
  }
}

/*# sourceMappingURL=PokemonPage.css.map */
