.bug {
  background: #729f3f;
}

.dragon {
  background: #f16e57;
}

.fairy {
  background: #fdb9e9;
}

.fire {
  background: #fd7d24;
}

.ghost {
  background: #7b62a3;
}

.ground {
  color: black !important;
  background: #f7de3f;
}

.normal {
  color: black !important;
  background: #a4acaf;
}

.psychic {
  background: #f366b9;
}

.steel {
  color: black !important;
  background: #9eb7b8;
}

.dark {
  background: #707070;
}

.electric {
  color: black !important;
  background: #eed535;
}

.fighting {
  background: #d56723;
}

.flying {
  color: black !important;
  background: #3dc7ef;
}

.grass {
  color: black !important;
  background: #9bcc50;
}

.ice {
  color: black !important;
  background: #51c4e7;
}

.poison {
  background: #b97fc9;
}

.rock {
  background: #a38c21;
}

.water {
  background: #4592c4;
}

.pokedex__pokemon-card {
  overflow: hidden;
  opacity: 0;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px rgb(221, 221, 221);
}
.pokedex__pokemon-card.hidden {
  display: none;
}
.pokedex__pokemon-card.visible {
  opacity: 1;
}
.pokedex__pokemon-card .pokemon-card__link-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.pokedex__pokemon-card .pokemon-card__link-container:hover {
  transform: scale(1) translate(0, 0);
}
.pokedex__pokemon-card .pokemon-card__link-container:hover .pokemon-card__image img {
  transform: scale(1.05);
}
.pokedex__pokemon-card .pokemon-card__link-container .pokemon-card__image {
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.pokedex__pokemon-card .pokemon-card__link-container .pokemon-card__image:after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.1;
  background: url("../../images/pokeball.png") center;
  background-size: cover;
}
.pokedex__pokemon-card .pokemon-card__link-container .pokemon-card__image img {
  z-index: 20;
  width: 100%;
  height: auto;
  transition: 0.3s ease-in-out transform;
}
.pokedex__pokemon-card .pokemon-card__link-container .pokemon-card__order {
  font-size: 18px;
  font-weight: bold;
  align-self: flex-end;
  padding: 10px 15px 10px;
  color: rgba(255, 255, 255, 0.6) !important;
  border-radius: 0 0 0 20px;
}
.pokedex__pokemon-card .pokemon-card__link-container .pokemon-card__info {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 20px 20px 20px;
  border-radius: 20px 20px 0 0;
  background: white;
}
.pokedex__pokemon-card .pokemon-card__link-container .pokemon-card__info .pokemon-card__name {
  font-size: 25px;
  font-weight: 600;
  align-self: center;
  margin-bottom: 20px;
  color: #616161;
}
.pokedex__pokemon-card .pokemon-card__link-container .pokemon-card__info .pokemon-card__name:first-letter {
  text-transform: uppercase !important;
}
.pokedex__pokemon-card .pokemon-card__link-container .pokemon-card__info .pokemon-card__types {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.pokedex__pokemon-card .pokemon-card__link-container .pokemon-card__info .pokemon-card__types .types__item {
  font-size: 14px;
  width: 75px;
  height: 20px;
  margin-right: 5px;
  padding: 3px 0;
  text-align: center;
  color: white;
  border-radius: 5px;
}
.pokedex__pokemon-card .pokemon-card__link-container .pokemon-card__info .pokemon-card__types .types__item:after {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 10px;
  height: 10px;
  content: "";
  border: 1px solid #7c7c7c;
  border-radius: 50%;
  background: inherit;
}
.pokedex__pokemon-card .pokemon-card__link-container .pokemon-card__info .pokemon-card__types .types__item:nth-child(2):after {
  right: 30px;
}
.pokedex__pokemon-card .pokemon-card__link-container .pokemon-card__info .pokemon-card__types .types__item:first-letter {
  text-transform: uppercase;
}

@media screen and (max-width: 499.98px) {
  .pokedex__pokemon-card .pokemon-card__link-container .pokemon-card__image img {
    height: 150px;
    width: auto;
  }
  .pokedex__pokemon-card .pokemon-card__link-container .pokemon-card__info {
    padding: 10px 20px 10px;
  }
  .pokedex__pokemon-card .pokemon-card__link-container .pokemon-card__info .pokemon-card__name {
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=PokemonCard.css.map */
